@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto+Mono&display=swap');

:root {
	--font-body: 'Roboto Mono';
	--font-mono: 'Roboto Mono', monospace;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text); 
	--container-width-desktop: 85rem;
	--container-height-x-large: 50rem;
	--container-height-large: 30rem;
	--container-height-small: 25rem;
	--border-radius: 5px;
	--preloader-bg: #212124;
	--title-color: rgba(255, 255, 255, 0.4);
}

body {
	min-height: 100vh;
	margin: 0;
    background: var(--backgound-color);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-attachment: fixed;
}

a:hover{
	opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
	:root {
	  --logo-color: #eee;
	  --text-color: #eee;
	  --link-color: #eee;
	  --button-color: #1c4373;
	  --button-color-alt: #38a6e6;
	  --backgound-color: linear-gradient(-45deg, #4a5a71, #29547c, #1e4a74, #042556);
	  --card-background: rgba(255, 255, 255, 0.2);
	  --success-color: #3fd782;
	  --warn-color: #f25f61;
	  --info-color: #5f86f2;
	  --alert-color: #f2cb5f;
	}
  }
  
  @media (prefers-color-scheme: light) {
	:root {
	  --logo-color: #fff;
	  --text-color: #fff;
	  --link-color: #fff;
	  --button-color: #1c4373;
	  --button-color-alt: #38a6e6;
	  --backgound-color: linear-gradient(-45deg, #2D4467, #2B547A, #4d79a3, #182c4a);
	  --card-background: rgba(255, 255, 255, 0.2);
	  --success-color: #3fd782;
	  --warn-color: #f25f61;
	  --info-color: #5f86f2;
	  --alert-color: #f2cb5f;
	}
  }


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}