@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@300&family=Roboto&family=Roboto+Mono&display=swap');

:root {
	//Font Family
	--font-body: 'Roboto Mono';
	--font-mono: 'Roboto Mono', monospace;
	//Font sizes
	--fs-xlarge: 20px;
	--fs-large: 18px;
	--fs-medium: 16px;
	--fs-small: 14px;
	--fs-xsmall: 12px;
	--fs-mini: 10px;
	//Container Width
	--cw-desktop: 85rem;
	--cw-desktop-three: 50rem;
	--cw-desktop-half: 42.5rem;
	--cw-desktop-one: 35rem;
	--cw-pad: 45rem;
	--cw-mobile: 35rem;
	//Container Height
	--ch-xlarge: 70rem;
	--ch-large: 40rem;
	--ch-medium: 30rem;
	--ch-small: 25rem;
	--ch-xsmall: 20rem;
	--ch-mini: 15rem;
	// Margins
	--margin-xl: 40px;
	--margin-l: 30px;
	--margin-m: 20px;
	--margin-x: 15px;
	--margin-s: 10px;
	--margin-xs: 5px;
	--margin-none: 0px;
	// Paddings
	--padding-xl: 50px;
	--padding-l: 30px;
	--padding-m: 20px;
	--padding-x: 15px;
	--padding-s: 10px;
	--padding-xs: 5px;
	--padding-none: 0px;
	//Misc
	--border-radius: 7px;
	--transparent: rgba(255, 255, 255, 0);
	--preloader: rgba(0, 0, 0, 1);
}

//Dark Mode
:global(body.dark) {
	//Hydro Drop
	--drop-color: #192E46;
	//Text Colors
	--text-color: #ffffff;
	--text-color-alt: rgba(255, 255, 255, 0.5);
	//Background Colors
	--bg-color: linear-gradient(90deg, #30286a, #183c68);
	--card-bg: rgba(33, 33, 36, 0.2);
	--card-bg-alt: rgba(33, 33, 36, 0.2);
	--sidemenu-color: rgba(33, 33, 36, 0.85);
	//Button Colors
	--button-color: rgba(33, 33, 36, 0.3);
	--button-hover: rgba(255, 255, 255, 0.2);
	//Progress Bar
	--progress-bar: rgba(106, 83, 255, 0.5);
	//background animation
	--animation-color-0: rgba(35, 81, 142, 0.5);
	--animation-color-1: rgba(2, 91, 173, 0.5);
	--animation-color-2: rgba(13, 127, 204, 0.5);
	--animation-color-3: rgba(104, 53, 158, 0.5);
	--animation-color-4: rgba(0, 141, 172, 0.5);
	--animation-color-5: rgba(94, 0, 201, 0.5);
	--animation-color-6: rgba(0, 104, 148, 0.5);
	--animation-color-7: rgba(64, 44, 130, 0.5);
	--animation-color-8: rgba(29, 67, 120, 0.5);
	--animation-color-9: rgba(69, 149, 183, 0.5);
	//Price variation color
	--red: #ff9393;
	--green: #d3ffaa;
}

//Light Mode
:global(body) {
	//Hydro Drop
	--drop-color: #ffffff;
	//Text Colors
	--text-color: #ffffff;
	--text-color-alt: rgba(255, 255, 255, 0.5);
	//Background Colors
	--bg-color: linear-gradient(90deg, #6493ff, #009dff);
	--card-bg: rgba(255, 255, 255, 0.2);
	--card-bg-alt: rgba(255, 255, 255, 0.05);
	--sidemenu-color: rgba(33, 33, 36, 0.85);
	//Button Colors
	--button-color: rgba(255, 255, 255, 0.2);
	--button-hover: rgba(33, 33, 36, 0.3);
	//Progress Bar
	--progress-bar: rgb(107, 147, 255);
	//background animation
	--animation-color-0: rgba(181, 138, 255, 0.8);
	--animation-color-1: rgba(41, 197, 224, 0.8);
	--animation-color-2: rgba(0, 153, 255, 0.8);
	--animation-color-3: rgba(59, 82, 255, 0.8);
	--animation-color-4: rgba(140, 90, 255, 0.8);
	--animation-color-5: rgba(0, 119, 255, 0.8);
	--animation-color-6: rgba(0, 179, 255, 0.8);
	--animation-color-7: rgba(144, 125, 255, 0.8);
	--animation-color-8: rgba(68, 205, 255, 0.8);
	--animation-color-9: rgba(0, 132, 255, 0.8);
	//Price variation color
	--red: #e32a15;
	--green: #12bf02;
}

html {
	background-color: var(--bg-color);
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	margin: 0;
	font-family: var(--font-body);
	color: var(--color-text);
	background-color: var(--bg-color);
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none !important;
}

//Keyframes
@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes move {
	100% {
		transform: translate3d(0, 0, 1px) rotate(360deg);
	}
}

//Animated Background
.background {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -10;
	top: 0;
	left: 0;
	background: var(--bg-color);
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}

.background span {
	width: 50vmin;
	height: 50vmin;
	border-radius: 50vmin;
	backface-visibility: hidden;
	position: absolute;
	animation: move;
	animation-duration: 1;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.background::before,
.background::after {
	will-change: all;
}
//Containers
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: var(--cw-desktop);
	height: var(--ch-large);
	border-radius: var(--border-radius);
	margin-bottom: var(--margin-l);
	color: var(--text-color);
}

.multiple-containers,
.multiple-containers-alt {
	display: flex;
	flex-direction: row;
	width: var(--cw-desktop);
}

//Tiles
.full {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--cw-desktop);
	height: var(--ch-xsmall);
	border-radius: var(--border-radius);
	color: var(--text-color);
	margin-bottom: var(--margin-l);
}

.three-quarter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: var(--cw-desktop-three);
	height: var(--ch-medium);
	border-radius: var(--border-radius);
	margin-bottom: var(--margin-l);
	margin-left: var(--margin-x);
	color: var(--text-color);
}

.half {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--cw-desktop-half);
	height: var(--ch-small);
	border-radius: var(--border-radius);
	margin-bottom: var(--margin-l);
	margin-left: var(--margin-none);
	margin-right: var(--margin-x);
	color: var(--text-color);
}

.one-quarter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--cw-desktop-one);
	height: var(--ch-medium);
	border-radius: var(--border-radius);
	margin-bottom: var(--margin-l);
	margin-left: var(--margin-none);
	margin-right: var(--margin-x);
	color: var(--text-color);
}

#card-background {
	background: var(--card-bg);
	border-radius: var(--border-radius);
	backdrop-filter: blur(8px);
}

#card-background-alt {
	background: var(--card-bg-alt);
	border-radius: var(--border-radius);
	backdrop-filter: blur(8px);
}

//Animation
#card-background,
header,
footer,
.question-container {
	animation: fadeIn 2s;
}

#ecosystem,
#intro-chain,
#profile-pic,
#hydro-logo-2 {
	animation: fadeIn 3s;
}

//Links
a {
	color: var(--text-color);
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

//Buttons
.button {
	display: flex;
	justify-content: center;
	padding: 1rem;
	border-radius: var(--border-radius);
	background-color: var(--button-color);
	color: var(--text-color);
}

.button:hover {
	background-color: var(--button-hover);
}

.ancestor:hover .button {
	will-change: opacity;
}

.button a {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	border-radius: var(--border-radius);
	background-color: var(--button-color);
	color: var(--button-text-color);
}

.button-row {
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
}

//Hydro Token Tool Buttons
.button-connect {
	background-color: var(--card-bg-alt);
	display: flex;
	flex-direction: row;
	text-align: start;
	height: auto;
	width: auto;
	padding: 1rem;
	font-size: 14px !important;
	border-radius: var(--border-radius);
	backdrop-filter: blur(10px);
	cursor: pointer;
}

.button-connect:hover {
	background-color: var(--button-hover) !important;
}

.button-network {
	background-color: var(--card-bg-alt);
	color: var(--text-color-alt);
	backdrop-filter: blur(10px);
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	display: flex;
	flex-direction: row;
	margin-top: 0.5rem;
	height: auto;
	width: auto;
	font-size: 12px !important;
	border-radius: var(--border-radius);
	cursor: default;
}

.button-network-switch {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: start;
	height: auto;
	width: auto;
	padding: 1rem;
	margin: 0.5rem;
	background-color: var(--card-bg) !important;
	backdrop-filter: blur(10px);
	border-radius: var(--border-radius);
	cursor: pointer;
}

.button-network-switch:hover {
	background-color: var(--button-hover) !important;
}

.button-add-hydro {
	background-color: var(--card-bg-alt);
	backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 143px;
	height: 163px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 7px;
	margin-left: 1rem;
}

.button-add-hydro:hover {
	background-color: var(--button-hover) !important;
}

#coin-ticker-logo {
	width: 40px;
	height: 40px;
}

.text-add-hydro {
	margin: 1rem;
	font-size: 14px;
}

//Priceaction +/-
.red {
	display: flex;
	margin-left: 3px;
	color: var(--red);
}

.green {
	display: flex;
	margin-left: 3px;
	color: var(--green);
}

//Responsive
//Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {

	.app-wrapper {
		max-width: 600px !important;
		margin: 1rem !important;
		overflow-x: hidden !important;
	}

	.multiple-containers,
	.multiple-containers-alt,
	.container {
		flex-direction: column !important;
		margin: var(--margin-none) !important;
	}

	.container {
		height: auto !important;
		margin-bottom: 2rem !important;
	}

	#second {
		margin-right: var(--margin-none);
		margin-left: var(--margin-none);
	}

	html,
	section,
	.app,
	.multiple-containers,
	.multiple-containers-alt,
	.full,
	.half,
	.one-quarter,
	.three-quarter,
	.footer-container,
	.container {
		width: 100% !important;
	}

	.three-quarter {
		margin-left: var(--margin-none);
	}

	.header-button {
		width: 3rem !important;
	}

	.half {
		height: var(--ch-mini);
		margin-right: var(--margin-none) !important;
		margin-left: var(--margin-none) !important;
	}

	.button-add-hydro {
		width: auto !important;
		height: auto !important;
		margin-left: 0rem;
		padding-top: 1rem;
	}

	.button-network-switch {
		height: auto;
		width: 70px;
	}

	#ecosystem,
	#intro-chain,
	#profile-pic,
	#hydro-logo-2,
	#card-background,
	header,
	footer {
		animation: none !important;
	}

}


//Medium devices (landscape tablets, up to 768px) 
@media only screen and (max-width: 768px) {

	.app-wrapper {
		max-width: 768px !important;
		margin: 1rem !important;
		overflow-x: hidden !important;
	}

	.multiple-containers,
	.multiple-containers-alt,
	.container {
		flex-direction: column !important;
		margin: var(--margin-none) !important;
	}

	.container {
		height: auto !important;
		margin-bottom: 2rem !important;
	}

	#second {
		margin-right: var(--margin-none);
		margin-left: var(--margin-none);
	}

	html,
	section,
	.app,
	.multiple-containers,
	.multiple-containers-alt,
	.full,
	.half,
	.one-quarter,
	.three-quarter,
	.footer-container,
	.container {
		width: 100% !important;
	}

	.three-quarter {
		margin-left: var(--margin-none);
	}

	.header-button {
		width: 3rem !important;
	}

	.half {
		height: var(--ch-mini);
		margin-right: var(--margin-none) !important;
		margin-left: var(--margin-none) !important;
	}

	.button-add-hydro {
		width: 340px;
		height: auto;
		margin-left: 0rem;
		padding-top: 1rem;
	}

	.button-network-switch {
		height: auto;
		width: 70px;
	}

	#ecosystem,
	#intro-chain,
	#profile-pic,
	#hydro-logo-2,
	#card-background,
	header,
	footer {
		animation: none !important;
	}

}

//Large devices (laptops/desktops, up to 992px) 
@media only screen and (max-width: 992px) {

	.app-wrapper {
		max-width: 992px !important;
		margin: 1rem !important;
		overflow-x: hidden !important;
	}

	.multiple-containers,
	.multiple-containers-alt,
	.container {
		flex-direction: column !important;
		margin: var(--margin-none) !important;
	}

	.container {
		height: auto !important;
		margin-bottom: 2rem !important;
	}

	#second {
		margin-right: var(--margin-none);
		margin-left: var(--margin-none);
	}

	html,
	section,
	.app,
	.multiple-containers,
	.multiple-containers-alt,
	.full,
	.half,
	.one-quarter,
	.three-quarter,
	.footer-container,
	.container {
		width: 100% !important;
	}

	.three-quarter {
		margin-left: var(--margin-none);
	}

	.header-button {
		width: 3rem !important;
	}

	.half {
		height: var(--ch-mini);
		margin-right: var(--margin-none) !important;
		margin-left: var(--margin-none) !important;
	}

	.button-add-hydro {
		width: 340px;
		height: auto;
		margin-left: 0rem;
		padding-top: 1rem;
	}

	.button-network-switch {
		height: auto;
		width: 70px;
	}

	#ecosystem,
	#intro-chain,
	#profile-pic,
	#hydro-logo-2,
	#card-background,
	header,
	footer {
		animation: none !important;
	}

}

//Extra large devices (large laptops and desktops, up to 1400px) 
@media only screen and (max-width: 1200px) {

	.app-wrapper {
		max-width: 1200px !important;
		margin: 1rem !important;
		overflow-x: hidden !important;
	}

	.multiple-containers,
	.multiple-containers-alt,
	.container {
		flex-direction: column !important;
		margin: var(--margin-none) !important;
	}

	.container {
		height: auto !important;
		margin-bottom: 2rem !important;
	}

	#second {
		margin-right: var(--margin-none);
		margin-left: var(--margin-none);
	}

	html,
	section,
	.app,
	.multiple-containers,
	.multiple-containers-alt,
	.full,
	.half,
	.one-quarter,
	.three-quarter,
	.footer-container,
	.container {
		width: 100% !important;
	}

	.three-quarter {
		margin-left: var(--margin-none);
	}

	.header-button {
		width: 3rem !important;
	}

	.half {
		height: var(--ch-mini);
		margin-right: var(--margin-none) !important;
		margin-left: var(--margin-none) !important;
	}

	.button-add-hydro {
		width: 340px;
		height: auto;
		margin-left: 0rem;
		padding-top: 1rem;
	}

	.button-network-switch {
		height: auto;
		width: 70px;
	}

	#ecosystem,
	#intro-chain,
	#profile-pic,
	#hydro-logo-2,
	#card-background,
	header,
	footer {
		animation: none !important;
	}

}



.background span:nth-child(0) {
	color: var(--animation-color-0);
	top: 91%;
	left: 47%;
	animation-duration: 219s;
	animation-delay: -321s;
	transform-origin: -2vw 22vh;
	box-shadow: -100vmin 0 13.380490600663542vmin currentColor;
	transform: translate3d(0, 0, 0);
}

.background span:nth-child(1) {
	color: var(--animation-color-1);
	top: 88%;
	left: 32%;
	animation-duration: 291s;
	animation-delay: -13s;
	transform-origin: 17vw 12vh;
	box-shadow: 100vmin 0 13.468910405457814vmin currentColor;
	transform: translate3d(0, 0, 0);
}

.background span:nth-child(2) {
	color: var(--animation-color-2);
	top: 68%;
	left: 42%;
	animation-duration: 104s;
	animation-delay: -420s;
	transform-origin: -16vw -4vh;
	box-shadow: -100vmin 0 12.74029809041134vmin currentColor;
	transform: translate3d(0, 0, 0);
}

.background span:nth-child(3) {
	color: var(--animation-color-3);
	top: 30%;
	left: 91%;
	animation-duration: 87s;
	animation-delay: -237s;
	transform-origin: 8vw -1vh;
	box-shadow: 100vmin 0 13.229999948254367vmin currentColor;
	transform: translate3d(0, 0, 0);
}

.background span:nth-child(4) {
	color: var(--animation-color-4);
	top: 97%;
	left: 48%;
	animation-duration: 464s;
	animation-delay: -72s;
	transform-origin: 6vw -6vh;
	box-shadow: -100vmin 0 12.638428911891703vmin currentColor;
	transform: translate3d(0, 0, 0);
}

.background span:nth-child(5) {
	color: var(--animation-color-5);
	top: 84%;
	left: 3%;
	animation-duration: 37s;
	animation-delay: -95s;
	transform-origin: -3vw 11vh;
	box-shadow: -100vmin 0 13.003365440000394vmin currentColor;
	transform: translate3d(0, 0, 0);
}

.background span:nth-child(6) {
	color: var(--animation-color-6);
	top: 26%;
	left: 54%;
	animation-duration: 264s;
	animation-delay: -169s;
	transform-origin: 16vw -23vh;
	box-shadow: -100vmin 0 12.522500246815223vmin currentColor;
	transform: translate3d(0, 0, 0);
}

.background span:nth-child(7) {
	color: var(--animation-color-7);
	top: 30%;
	left: 26%;
	animation-duration: 160s;
	animation-delay: -408s;
	transform-origin: 6vw -19vh;
	box-shadow: -100vmin 0 13.225965767713827vmin currentColor;
	transform: translate3d(0, 0, 0);
}

.background span:nth-child(8) {
	color: var(--animation-color-8);
	top: 4%;
	left: 19%;
	animation-duration: 127s;
	animation-delay: -26s;
	transform-origin: 2vw 6vh;
	box-shadow: -100vmin 0 12.985791608940657vmin currentColor;
	transform: translate3d(0, 0, 0);
}

.background span:nth-child(9) {
	color: var(--animation-color-9);
	top: 44%;
	left: 62%;
	animation-duration: 254s;
	animation-delay: -389s;
	transform-origin: -22vw -15vh;
	box-shadow: 100vmin 0 12.685716282052567vmin currentColor;
	transform: translate3d(0, 0, 0);
}