@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto+Mono&display=swap');

:root {
	--font-body: 'Roboto Mono';
	--font-mono: 'Roboto Mono', monospace;
	--font-size-large: 20px;
	--font-size-medium: 18px;
	--font-size-small: 16px;
	--font-size-xsmall: 14px;
	--font-size-mini: 12px;
	--column-margin-top: 4rem;
	--container-width-desktop: 85rem;
	--container-height-x-large: 70rem auto;
	--container-height-large: 30rem;
	--container-height-small: 25rem;
	--container-height-xsmall: 22.5rem;
	--container-height-mini: 20rem;
	--border-radius: 5px;
	--preloader-bg: #212124;
	--title-color: rgba(255, 255, 255, 0.4);
	--transparent: rgba(255, 255, 255, 0);

	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background: var(--backgound-color);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	background-attachment: fixed;
}

/* Links */

a {
	color: var(--link-color);
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	opacity: 0.5;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
	:root {
		--logo-color: #eee;
		--text-color: #eee;
		--link-color: #eee;
		--button-color: #eee;
		--button-text-color: #212124;
		--backgound-color: linear-gradient(90deg, #1b2f5e, #015087, #004878, #002950);
		--card-background: rgba(255, 255, 255, 0.2);
		--banner-background: rgba(255, 255, 255, 0.15);
	}
}

/* Light Mode */

@media (prefers-color-scheme: light) {
	:root {
		--logo-color: #fff;
		--text-color: #fff;
		--link-color: #fff;
		--button-color: #fff;
		--button-text-color: #212124;
		--backgound-color: linear-gradient(90deg, #1f82ce, #224669, #195783, #042351);
		--card-background: rgba(255, 255, 255, 0.2);
		--banner-background: rgba(255, 255, 255, 0.15);
	}
}

/* Keyframes */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* Containers */

.multiple-containers,
.multiple-containers-2 {
	display: flex;
	flex-direction: row;
	width: var(--container-width-desktop);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: var(--container-width-desktop);
	height: var(--container-height-x-large);
	border-radius: var(--border-radius);
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-bottom: 30px;
	color: var(--text-color);
	animation: fadeIn 2.5s;
}

.container:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px var(--card-background);
	filter: blur(10px);
	margin: -20px;
}

.container-header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}

/* Tiles */

#animated-border {
	background: linear-gradient(-90deg,
		rgba(21, 74, 138, 0.15),
		rgba(15, 59, 125, 0.15),
		rgba(9, 91, 145, 0.15),
		rgba(0, 77, 125, 0.15),
		rgba(9, 103, 154, 0.15),
		rgba(9, 69, 154, 0.15));
	animation: gradient 20s ease infinite;
	background-size: 1000% 100%;
	border-radius: var(--border-radius);
  }

.full {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--container-width-desktop);
	height: var(--container-height-xsmall);
	border-radius: var(--border-radius);
	color: var(--text-color);
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-bottom: 30px;
	animation: fadeIn 2.5s;
}

.full:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px var(--card-background);
	filter: blur(10px);
	margin: -20px;
}

.half {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 42.5rem;
	height: var(--container-height-small);
	border-radius: var(--border-radius);
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-bottom: 30px;
	margin-left: 0;
	margin-right: 15px;
	color: var(--text-color);
	animation: fadeIn 2.5s;
}

.half:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px var(--card-background);
	filter: blur(10px);
	margin: -20px;
}

.one-quarter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 35rem;
	height: var(--container-height-large);
	border-radius: var(--border-radius);
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-bottom: 30px;
	margin-left: 0;
	margin-right: 15px;
	color: var(--text-color);
	animation: fadeIn 2.5s;
}

.one-quarter:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px var(--card-background);
	filter: blur(10px);
	margin: -20px;
}

.three-quarter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50rem;
	height: var(--container-height-large);
	border-radius: var(--border-radius);
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-bottom: 30px;
	margin-left: 15px;
	color: var(--text-color);
	animation: fadeIn 2.5s;
}

.three-quarter:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px var(--card-background);
	filter: blur(10px);
	margin: -20px;
}

/* Buttons */

.button{
	padding: 1rem;
	border-radius: var(--border-radius);
	background-color: var(--button-color);
	animation: fadeIn 2.5s;
}

.button:hover{
	opacity: 0.5;
}

.container-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--text-color);
}

/* Images */

.header-logo svg {
	margin-right: 2rem;
	animation: fadeIn 2.5s;
}

.header-button svg {
	height: 2rem;
	animation: fadeIn 2.5s;
}

#ecosystem {
	width: 600px;
	animation: fadeIn 2.5s;
}

#chain {
	height: 50px;
	animation: fadeIn 2.5s;
}

#product {
	height: 35px;
	margin: 10px;
	animation: fadeIn 2.5s;
}

#hydro-drop {
	width: 128px;
	margin-top: 2rem;
	animation: fadeIn 2.5s;
}

#partner {
	width: 128px;
	margin: 20px;
	animation: fadeIn 2.5s;
}

#exchange {
	width: 128px;
	margin: 20px;
	animation: fadeIn 2.5s;
}

#icon {
	width: 20px;
	animation: fadeIn 2.5s;
}

#profile-pic {
	width: 128px;
	margin-top: 3px;
	margin-bottom: 3px;
	border-radius: var(--border-radius);
	animation: fadeIn 2.5s;
}

/* Keresverse Tile */

#keresverse{
	background-image: url("/src/lib/images/keresverse.jpg");
	background-repeat: repeat;
 	background-position: center;
  	background-attachment: fixed;
	justify-content: space-between;
}

#keresverse-logo{
	height: 50px;
	animation: fadeIn 2.5s;
	margin-bottom: 1rem;
}

#keres-title{
	margin-top: 2rem;
}

#jixta{
	height: 300px;
	animation: fadeIn 2.5s;
}

#vox{
	height: 300px;
	margin-left: -2rem;
	animation: fadeIn 2.5s;
}

#wex{
	height: 130px;
	animation: fadeIn 2.5s;
}

.jixta{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.middle{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 14px;
	margin-bottom: 5rem;
}

.middle a{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	
}

#keres-play-button{
	margin-top: 3rem;
	color: #212124;
	width: 100px;
	animation: fadeIn 2.5s;
}

/* Hydroswap */

#hydro-staked{
	color: var(--text-color);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.hydro-dashboard{
	display: flex;
	flex-direction: column;
	color: var(--text-color);
}

.dashboard-slot{
	display: flex;
	flex-direction: row;
	margin: 0.5rem;
}

h6{
	color: #ffffff52;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
    font-size: 12px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	margin-left: 5px;
}

/* Responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.app-wrapper {
		max-width: 600px !important;
		margin: 1rem !important;
		overflow-x: hidden !important;
	}

	.multiple-containers,
	.multiple-containers-2,
	.container {
		flex-direction: column !important;
		margin: 0 !important;
	}

	.container {
		height: auto !important;
		margin-bottom: 2rem !important;
	}

	.team-section {
		flex-direction: column !important;
	}

	#second {
		margin-right: 0px;
		margin-left: 0px;
	}

	html,
	section,
	.app,
	.multiple-containers,
	.multiple-containers-2,
	.full,
	.half,
	.one-quarter,
	.three-quarter,
	.footer-logo,
	.container {
		width: 100% !important;
	}

	.three-quarter {
		margin-left: 0px;
	}

	.header-logo {
		width: 11rem !important;
	}

	.header-button {
		width: 3rem !important;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}