@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto+Mono&display=swap');

:root {
	/* Font Family */
	--font-body: 'Roboto Mono';
	--font-mono: 'Roboto Mono', monospace;
	/* Font sizes */
	--fs-xlarge: 20px;
	--fs-large: 18px;
	--fs-medium: 16px;
	--fs-small: 14px;
	--fs-xsmall: 12px;
	--fs-mini: 10px;
	/* Container Width */
	--cw-desktop: 85rem;
	--cw-desktop-three: 50rem;
	--cw-desktop-half: 42.5rem;
	--cw-desktop-one: 35rem;
	--cw-pad: 45rem;
	--cw-mobile: 35rem;
	/* Container Height */
	--ch-xlarge: 70rem auto;
	--ch-large: 40rem;
	--ch-medium: 30rem;
	--ch-small: 25rem;
	--ch-xsmall: 20rem;
	--ch-mini: 15rem;	
	/* Margins */
	--margin-xl: 4rem;
	--margin-l: 3rem;
	--margin-m: 2rem;
	--margin-x: 1.5rem;
	--margin-s: 1rem;
	--margin-xs: 0.5rem;
	/* Misc */
	--border-radius: 7px;
	--transparent: rgba(255, 255, 255, 0);
}

body {
	min-height: 100vh;
	margin: 0;
	font-family: var(--font-body);
	color: var(--color-text);
	background: var(--backgound-color);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	background-attachment: fixed;
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
	:root {
		/* Text */
		--logo-color: #eee;
		--title-color: #eee;
		--text-color: #eee;
		--text-color-alt: #85e1ff;
		--link-color: #eee;
		/* Tiles, Banner & Button */
		--button-color: rgba(255, 255, 255, 0.2);
		--card-background: rgba(255, 255, 255, 0.2);
		--banner-background: rgba(255, 255, 255, 0.15);
		/* Gradient Background */
		--backgound-color: linear-gradient(90deg,#1b2f5e,
												 #015087,
												 #004878,
												 #002950);
		/* Gradient Tiles */
		--animated-bg: linear-gradient(-90deg,rgba(24, 79, 161, 0.25),
											  rgba(0, 94, 157, 0.25),
											  rgba(0, 106, 125, 0.25),
											  rgba(9, 154, 152, 0.25),
											  rgba(9, 23, 154, 0.25));
		
	}
}

/* Light Mode */

@media (prefers-color-scheme: light) {
	:root {
		/* Text */
		--logo-color: #eee;
		--title-color: #eee;
		--text-color: #eee;
		--text-color-alt: #85e1ff;
		--link-color: #eee;
		/* Tiles, Banner & Button */
		--button-color: rgba(255, 255, 255, 0.2);
		--card-background: rgba(255, 255, 255, 0.2);
		--banner-background: rgba(255, 255, 255, 0.15);
		/* Gradient Background */
		--backgound-color: linear-gradient(90deg,#1b2f5e,
												 #015087,
												 #004878,
												 #002950);
		/* Gradient Tiles */
		--animated-bg: linear-gradient(-90deg,rgba(24, 79, 161, 0.25),
											  rgba(0, 94, 157, 0.25),
											  rgba(0, 106, 125, 0.25),
											  rgba(9, 154, 152, 0.25),
											  rgba(9, 23, 154, 0.25));
	}
}

/* Keyframes */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* Containers */

.multiple-containers,
.multiple-containers-alt {
	display: flex;
	flex-direction: row;
	width: var(--cw-desktop);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: var(--cw-desktop);
	height: var(--ch-xlarge);
	border-radius: var(--border-radius);
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-bottom: 30px;
	color: var(--text-color);
}

.container:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px var(--card-background);
	filter: blur(10px);
	margin: -20px;
}

.container-header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}

/* Tiles */

#animated-border {
	background: var(--animated-bg);
	animation: gradient 20s ease infinite;
	background-size: 1000% 100%;
	border-radius: var(--border-radius);
	animation: fadeIn 2.5s;
}

.full {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--cw-desktop);
	height: var(--ch-xsmall);
	border-radius: var(--border-radius);
	color: var(--text-color);
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-bottom: 30px;
}

.full:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px var(--card-background);
	filter: blur(10px);
	margin: -20px;
}

.half {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--cw-desktop-half);
	height: var(--ch-small);
	border-radius: var(--border-radius);
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-bottom: 30px;
	margin-left: 0;
	margin-right: 15px;
	color: var(--text-color);
}

.half:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px var(--card-background);
	filter: blur(10px);
	margin: -20px;
}

.one-quarter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--cw-desktop-one);
	height: var(--ch-medium);
	border-radius: var(--border-radius);
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-bottom: 30px;
	margin-left: 0;
	margin-right: 15px;
	color: var(--text-color);
}

.one-quarter:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px var(--card-background);
	filter: blur(10px);
	margin: -20px;
}

.three-quarter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: var(--cw-desktop-three);
	height: var(--ch-medium);
	border-radius: var(--border-radius);
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-bottom: 30px;
	margin-left: 15px;
	color: var(--text-color);
}

.three-quarter:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px var(--card-background);
	filter: blur(10px);
	margin: -20px;
}

/* Links */

a {
	color: var(--link-color);
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	opacity: 0.5;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

/* Buttons */

.button {
	display: flex;
	justify-content: center;
	padding: 1rem;
	border-radius: var(--border-radius);
	background-color: var(--button-color);
	color: var(--text-color);
}

.button:hover {
	opacity: 0.5;
}

.button a {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	border-radius: var(--border-radius);
	background-color: var(--button-color);
	color: var(--button-text-color);
}

.button-row {
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
}

/* FAQ */

.faq-title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.faq-answer {
	display: flex;
	flex-direction: column;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-bottom: 2rem;
}

.faq-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* Responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.app-wrapper {
		max-width: 600px !important;
		margin: 1rem !important;
		overflow-x: hidden !important;
	}

	.multiple-containers,
	.multiple-containers-2,
	.container {
		flex-direction: column !important;
		margin: 0 !important;
	}

	.container {
		height: auto !important;
		margin-bottom: 2rem !important;
	}

	.team-section {
		flex-direction: column !important;
	}

	#second {
		margin-right: 0px;
		margin-left: 0px;
	}

	html,
	section,
	.app,
	.multiple-containers,
	.multiple-containers-2,
	.full,
	.half,
	.one-quarter,
	.three-quarter,
	.footer-logo,
	.container {
		width: 100% !important;
	}

	.three-quarter {
		margin-left: 0px;
	}

	.header-logo {
		width: 11rem !important;
	}

	.header-button {
		width: 3rem !important;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}