@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@300&family=Roboto&family=Roboto+Mono&display=swap');

:root {
	//Font Family
	--font-body: 'Roboto Mono';
	--font-mono: 'Roboto Mono', monospace;
	//Font sizes
	--fs-xlarge: 20px;
	--fs-large: 18px;
	--fs-medium: 16px;
	--fs-small: 14px;
	--fs-xsmall: 12px;
	--fs-mini: 10px;
	//Container Width
	--cw-desktop: 85rem;
	--cw-desktop-three: 50rem;
	--cw-desktop-half: 42.5rem;
	--cw-desktop-one: 35rem;
	--cw-pad: 45rem;
	--cw-mobile: 35rem;
	//Container Height
	--ch-xlarge: 70rem;
	--ch-large: 40rem;
	--ch-medium: 30rem;
	--ch-small: 25rem;
	--ch-xsmall: 20rem;
	--ch-mini: 15rem;
	// Margins
	--margin-xl: 40px;
	--margin-l: 30px;
	--margin-m: 20px;
	--margin-x: 15px;
	--margin-s: 10px;
	--margin-xs: 5px;
	--margin-none: 0px;
	// Paddings
	--padding-xl: 50px;
	--padding-l: 30px;
	--padding-m: 20px;
	--padding-x: 15px;
	--padding-s: 10px;
	--padding-xs: 5px;
	--padding-none: 0px;
	//Misc
	--border-radius: 7px;
	--transparent: rgba(255, 255, 255, 0);
}

body {
	min-height: 100vh;
	margin: 0;
	background: var(--backgound-color);
	font-family: var(--font-body);
	color: var(--color-text);
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none !important;
}

//Dark Mode
@media (prefers-color-scheme: dark) {
	:root {
		//Hydro Drop
		--drop-color: #192E46;
		//Logo Color
		--logo-color: #eee;
		--logo-color-alt: rgba(255, 255, 255, 0.4);
		//Text Colors
		--title-color: #eee;
		--text-color: #eee;
		--text-color-alt: #85e1ff;
		--link-color: #eee;
		//Background Colors
		--backgound-color: linear-gradient(90deg, #28326a, #183c68);
		--card-bg: rgba(33, 33, 36, 0.2);
		--sidemenu-color: rgba(33, 33, 36, 0.85)
		//Button Colors
		--button-color: rgba(33, 33, 36, 0.3);
		--button-hover: rgba(255, 255, 255, 0.2);

	}
}

//Light Mode
@media (prefers-color-scheme: light) {
	:root {
		//Hydro Drop
		--drop-color: #fff;
		//Logo Color
		--logo-color: #eee;
		--logo-color-alt: rgba(255, 255, 255, 0.4);
		//Text Colors
		--title-color: #eee;
		--text-color: #eee;
		--text-color-alt: #85e1ff;
		--link-color: #eee;
		//Background Colors
		--backgound-color: linear-gradient(90deg, #72aaff, #2eafff);
		--card-bg: rgba(38, 92, 255, 0.2);
		--sidemenu-color: rgba(33, 33, 36, 0.85)
		//Button Colors
		--button-color: rgba(255, 255, 255, 0.2);
		--button-hover: rgb(33, 33, 36, 1);
	}
}

//Containers
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: var(--cw-desktop);
	height: var(--ch-large);
	border-radius: var(--border-radius);
	margin-bottom: var(--margin-l);
	color: var(--text-color);
}

.multiple-containers,
.multiple-containers-alt {
	display: flex;
	flex-direction: row;
	width: var(--cw-desktop);
}

//Tiles
.full {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--cw-desktop);
	height: var(--ch-xsmall);
	border-radius: var(--border-radius);
	color: var(--text-color);
	margin-bottom: var(--margin-l);
}

.three-quarter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: var(--cw-desktop-three);
	height: var(--ch-medium);
	border-radius: var(--border-radius);
	margin-bottom: var(--margin-l);
	margin-left: var(--margin-x);
	color: var(--text-color);
}

.half {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--cw-desktop-half);
	height: var(--ch-small);
	border-radius: var(--border-radius);
	margin-bottom: var(--margin-l);
	margin-left: var(--margin-none);
	margin-right: var(--margin-x);
	color: var(--text-color);
}

.one-quarter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--cw-desktop-one);
	height: var(--ch-medium);
	border-radius: var(--border-radius);
	margin-bottom: var(--margin-l);
	margin-left: var(--margin-none);
	margin-right: var(--margin-x);
	color: var(--text-color);
}

#card-background {
	background: var(--card-bg);
	border-radius: var(--border-radius);
	backdrop-filter: blur(8px);
}

//Links
a {
	color: var(--link-color);
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

//Buttons
.button {
	display: flex;
	justify-content: center;
	padding: 1rem;
	border-radius: var(--border-radius);
	background-color: var(--button-color);
	color: var(--text-color);
}

.button:hover {
	background-color: var(--button-hover);
	opacity: 1 !important;
}

.button a {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	border-radius: var(--border-radius);
	background-color: var(--button-color);
	color: var(--button-text-color);
}

.button-row {
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
}

//Priceaction +/-
.red {
	display: flex;
	margin-left: 3px;
	color: #f56a6a !important
}

.green {
	display: flex;
	margin-left: 3px;
	color: #a6ec64 !important
}

//Keyframes

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.app-wrapper {
		max-width: 600px !important;
		margin: 1rem !important;
		overflow-x: hidden !important;
	}

	.multiple-containers,
	.multiple-containers-2,
	.container {
		flex-direction: column !important;
		margin: var(--margin-none) !important;
	}

	.container {
		height: auto !important;
		margin-bottom: 2rem !important;
	}

	#second {
		margin-right: var(--margin-none);
		margin-left: var(--margin-none);
	}

	html,
	section,
	.app,
	.multiple-containers,
	.multiple-containers-2,
	.full,
	.half,
	.one-quarter,
	.three-quarter,
	.footer-logo,
	.container {
		width: 100% !important;
	}

	.three-quarter {
		margin-left: var(--margin-none);
	}

	.header-logo {
		width: 11rem !important;
	}

	.header-button {
		width: 3rem !important;
	}

	.half {
		height: var(--ch-mini);
		margin-right: var(--margin-none) !important;
		margin-left: var(--margin-none) !important;
	}


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}